html,
body {
  margin: 0;
  padding: 0;
}

.HomepageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#LargeText1 {
  text-align: center;
  font-size: 2.25em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.redFont {
  color: red;
}