.addToWatchListButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.addToWatchListButton {
  font-size: 1.4em;
  font-weight: bolder;
  color: #ffffff;
  background-color: rgb(170, 9, 11);
  border: none;
  border-radius: 20px;
  padding: 10px 16px;
  cursor: pointer;
  outline: none;
  z-index: 1;
}